<ul class="nav nav-pills">
  <li class="nav-item">
    <a class="nav-link" routerLink="auth" routerLinkActive="active">Authentification</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" routerLink="appareils" routerLinkActive="active">Appareils</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" routerLink="edit" routerLinkActive="active">Nouvel Appareil</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" routerLink="users" routerLinkActive="active">Utilisateurs</a>
  </li>
  <div class="navbar navbar-toggler">
    <p>Vous êtes connecté depuis {{ seconde }} secondes</p>
  </div>
</ul>
<div class="container">
  <div class="row">
   <router-outlet></router-outlet>
  </div>
</div>
